@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h1, h2, h3, h4, h5, h6 {

    color: #640D6B;
    font-family: "DM Sans";}

.hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6, .hero b{
    color: rgb(255, 255, 255);
}

.btn, .btn-small, .btn-large {
    background-color: #f76f21;
}

.btn:hover, .btn-small:hover, .btn-large:hover {
    background-color: #ca4e06;
}

nav{
    background-color: #212121;
}

.logoText{
    font-family: "DM Sans";
    font-weight: 100;
    font-style: italic;
}

.hero{
    padding: 10vh 0 10vh 0;
    background-image:url(/images/heroDark.gif);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right;
}

.highlight{
    color: #90009b;
    font-weight: 700;
    -webkit-text-stroke-color:#ea07ff;
    -webkit-text-stroke-width: 1px;
}

.highlightPF{
    color: #91009b00;
    font-weight: 800;
    -webkit-text-stroke-color:#c307e9;
    -webkit-text-stroke-width: 1px;
}

.highlightPF:hover{
    color: #91009b00;
    font-weight: 800;
    -webkit-text-stroke-color:#e9ad07;
    -webkit-text-stroke-width: 2px;
    box-shadow:#ffd700;
}

.highlightBody{
    color: #f76f21; 
}

.customButton{
    margin: 40px 0 40px 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 0.75rem 1.25rem;
    border-radius: 24px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.customButton:hover{ /* Change text color to gold */
    color: #ffd700; 
    border-color: #ffd700; /* Change border color to gold */
    box-shadow: 0 0 10px #ffd700; /* Add a glow effect */

}

.customButton:focus {
    outline: initial;
    background-color: initial;
}

.author{
    border-radius: 50%;
    border-style:outset ;
    border-color: #f76f21;
    border-width: 12px
    ;
}

.section{

    padding-top:8vh;
    padding-bottom: 8vh;
}

p{
    font-family: "DM Sans";
}

b1{
    color:#ca4e06;
    font-weight: 500;
    font-family: "DM Sans";
}

.prevent-select {
    user-select: none; /* Standard syntax */
}

.row{
    margin-bottom: inherit;
}

.row a{
    width: 10%;
    min-width: 180px;
}

.highlightText{
    color: #ffffff;
}


.card-carousel{
    margin-top:48vh;
    padding: 40px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.59);
}

.longParallax{
    height: auto;
}

.heightConstrained{
    height: auto;
}

#caption {
    padding: 0px;
    position:relative;
    white-space: nowrap;
}

#caption h3{
    margin: 0;
}

#caption > span {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

#caption > span:first-child {
    display:inline-flex;
}

@media (max-width: 768px) {
    .hero{
        padding: 4vh 0 4vh 0;
    }
}

